<settings>
    <mirrors>
        <mirror>
            <id>artifactory</id>
            <mirrorOf>*</mirrorOf>
            <url>https://your-artifactory-url/artifactory/maven</url>
            <repositoryManager>true</repositoryManager>
        </mirror>
    </mirrors>
    
    <servers>
        <server>
            <id>artifactory</id>
            <username>your-username</username>
            <password>your-password</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>allow-insecure-ssl</id>
            <properties>
                <javax.net.ssl.trustStore>/path/to/custom_truststore.jks</javax.net.ssl.trustStore>
                <javax.net.ssl.trustStorePassword>changeit</javax.net.ssl.trustStorePassword>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>allow-insecure-ssl</activeProfile>
    </activeProfiles>
</settings>

